/* banner-1 styles */
.banner {
  background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../images/Banner-Image.png");
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.banner-container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-cotent-sub-title {
  color: white;
  font-weight: 400;
  font-size: 32px;
}

.banner-content-title {
  color: white;
  font-weight: 900;
  font-size: 55px;
  max-width: 632px;
  margin-top: -30px;
}

/* font class */
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* banner-2 styles */
.banner-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 809;
  height: 806px;
  margin: 50px 398px;
}

.off {
  color: #FF0000;
  font-weight: bold;
  font-size: 88px;
  margin-bottom: -5px;
}

.holiday {
  color: #FF0000;
  font-weight: medium;
  font-size: 24px;
  margin-bottom: -5px;
}

.categories {
  color: #070211;
  font-weight: bold;
  font-size: 48px;
  margin-top: 5px;
}

.new-year-img {
  max-width: 802px;
  height: 500px;
}

/* banner-3 styles */
.banner-3 {
  background-image: linear-gradient(to right, rgb(7, 2, 17), rgba(7, 2, 17, 0)), url("../images/Vectorrr.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  margin: 120px 140px;
  color: white;
  height: 600px;
}

.banner-3-description {
  display: flex;
  flex-direction: column;
  margin-left: 126px;
  margin-top: 126px;
}

.logo-title {
  font-weight: 900;
  font-size: 64px;
  max-width: 642px;
  line-height: 88px;
  margin-bottom: 0px;
}

.logo-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 697px;
  margin-top: -2px;
}

.join-now {
  margin-left: 32px;
  margin-top: 16px;
}

.img-70 {
  margin-top: 68px;
  margin-right: 150px;
  max-width: 319px;
  height: 464px;
}

/* banner-4 styles*/
.banner-4 {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.1) 10%, rgba(255, 0, 0, 0) 100%);
  max-width: 1320px;
  height: 482px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 56px;
}

.place,
.date,
.time {
  color: red;
}

.join {
  background-color: #FF0000;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  color: white;
}

/* banner-5 styles */
.banner-5 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1320px;
  height: 463px;
  margin: 120px auto;
}

.des {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.offer {
  margin-top: 100px;
  color: #FF0000;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0px;
}

.track {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}

.first-description,
.second-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  color: #07021199;
}

.first-description {
  margin-top: 5px;
  margin-bottom: 0px;
  max-width: 393px;
}

.pic {
  width: 410px;
  height: 410px;
  border: 15px solid #FF0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-ellipse {
  object-fit: cover;
}

.year {
  display: flex;
  flex-direction: column;
}

.year24 {
  margin-top: 70px;
  margin-bottom: 0px;
  color: #FF0000;
  font-weight: bold;
  font-size: 48px;
}

.second-description {
  margin-top: 4px;
  margin-bottom: 10px;
  max-width: 276px;
}

.img-96 {
  max-width: 140px;
}

/* banner-6 styles */
.banner-6 {
  display: flex;
  flex-direction: column;
  margin: 120px 100px;
  justify-content: space-between;
}

.banner-6-des {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.func {
  font-size: 24px;
  font-weight: 500;
  color: #070211;
  margin-bottom: 16px;
}

.hlday {
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 28px;
  margin-top: 0px;
  max-width: 677px;
}

.sale {
  color: #070211;
}

.hdays {
  color: #FF0000;
}

.sim-desc {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 400;
  max-width: 1068px;
  height: 96px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 0%;
}

.banner-6-img {
  display: flex;
  flex-direction: column;
}

.img-75 {
  position: relative;
  width: 674px;
  height: 577px;
  z-index: 3;
}

.img-44 {
  width: 309px;
  height: 309px;
}

.imag {
  display: flex;
  justify-content: space-between;
}

.rec-2 {
  width: 1051px;
  position: relative;
  top: -180px;
}

/* gifts contents styles */
.gifts {
  margin-top: -180px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 120px;
  
}

.gifts-title {
  color: #FF0000;
  font-size: 24px;
  font-weight: 400px;
  margin-bottom: 20px;
}

.gifts-heading {
  font-size: 48px;
  font-weight: 900px;
  margin-bottom: 20px;
}

.gifts-description {
  color: #07021199;
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 20px;
}

.gifts-pic {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.gifts-pic img {

  width: 30%;
  height: auto;
}

/* newsletter styles */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #FF00000D;
}

.newsletter-title {
  font-size: 48px;
  font-weight: 900;
}

.newsletter-description {
  font-size: 20px;
  font-weight: 400;
  width: 894px;
  text-align: center;
}

#search-bar {
  width: 450px;
  height: 40px;
  position: relative;
  margin-left: 100px;
   border-radius: 50px;
  border: none;
}
#search-bar::placeholder{
  padding-left: 20px;
  font-size: 14px;
}

.subscribe-btn {
  background-color: #FF0000;
  border: none;
    border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  width: 150px;
  height: 45px;
  position: relative;
  left: -100px;
  z-index: 2;
}

/* footer styles */
footer{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: #070211;
  color: white;
  
}
.address{
  display: flex;
  justify-content: space-between;
  gap: 600px;
  margin-top: 50px;
  margin-left: 100px;
}
.offline-address{
  width: 300px;
  font-size: 18px;
  font-weight: 400;
}
.phone{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.website{
  display: flex;
  gap: 10px;
  margin-right: 200px;
}
.icons{
  display: flex;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.copyright{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  margin: 50px 100px;
  
}
.unsubsribe{
  margin-right: 10px;
}
hr{
  background-color: #FFFFFF26;
  border: none;
  height: 1px;
  margin: 20px 40px;
}